
USE [dbvpp]
GO
/****** Object:  Table [dbo].[auth_group]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_group_permissions]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_permission]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content_type_id] [int] NOT NULL,
	[codename] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetimeoffset](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_groups]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_groups](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_user_permissions]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_user_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_admin_log]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_admin_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_time] [datetimeoffset](7) NOT NULL,
	[object_id] [nvarchar](max) NULL,
	[object_repr] [nvarchar](200) NOT NULL,
	[action_flag] [smallint] NOT NULL,
	[change_message] [nvarchar](max) NOT NULL,
	[content_type_id] [int] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_content_type]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_content_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_label] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_migrations]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_migrations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[applied] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_session]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_session](
	[session_key] [nvarchar](40) NOT NULL,
	[session_data] [nvarchar](max) NOT NULL,
	[expire_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_chitietdonhang]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_chitietdonhang](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaTaiThoiDiemMua] [numeric](15, 2) NOT NULL,
	[DonHang_id] [bigint] NOT NULL,
	[SanPham_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_chitietgiohang]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_chitietgiohang](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GioHang_id] [bigint] NOT NULL,
	[SanPham_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_danhgia]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_danhgia](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[Diem] [int] NOT NULL,
	[SanPham_id] [bigint] NOT NULL,
	[TaiKhoan_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_danhmuc]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_danhmuc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_diachi]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_diachi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ChiTietDiaChi] [nvarchar](255) NOT NULL,
	[Phuong_Xa] [nvarchar](100) NOT NULL,
	[Tinh_Thanh_Pho] [nvarchar](100) NOT NULL,
	[SDTLienHe] [nvarchar](20) NULL,
	[TaiKhoan_id] [bigint] NOT NULL,
	[MacDinh] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_donhang]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_donhang](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[NgayDat] [datetimeoffset](7) NOT NULL,
	[TongTien] [numeric](15, 2) NOT NULL,
	[DiaChi_id] [bigint] NOT NULL,
	[GiamGia_id] [bigint] NULL,
	[ThanhToan_id] [bigint] NOT NULL,
	[TaiKhoan_id] [bigint] NULL,
	[lyDoHuy] [nvarchar](max) NULL,
	[trangThaiGH] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_giamgia]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_giamgia](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaGiamGia] [nvarchar](50) NOT NULL,
	[TGbatDau] [datetimeoffset](7) NOT NULL,
	[TGKetThuc] [datetimeoffset](7) NOT NULL,
	[GiaTriGiam] [numeric](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_giohang]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_giohang](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[TaiKhoan_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_hinhanh]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_hinhanh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[Anh] [nvarchar](100) NOT NULL,
	[SanPham_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_khuyenmai]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_khuyenmai](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[LoaiGiamGia] [nvarchar](10) NOT NULL,
	[GiaTri] [numeric](15, 2) NOT NULL,
	[NgayBatDau] [datetimeoffset](7) NOT NULL,
	[NgayKetThuc] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_loaithuoctinh]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_loaithuoctinh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenThuocTinh] [nvarchar](100) NOT NULL,
	[DonViTinh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_phuongthucthanhtoan]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_phuongthucthanhtoan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenPTTT] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_sanpham]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_sanpham](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](255) NOT NULL,
	[DonGia] [numeric](15, 2) NOT NULL,
	[SoLuongTonKho] [int] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[ThuongHieu] [nvarchar](255) NULL,
	[DanhMuc_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_sanpham_khuyenmai]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_sanpham_khuyenmai](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[KhuyenMai_id] [bigint] NOT NULL,
	[SanPham_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_sanpham_thuoctinh]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_sanpham_thuoctinh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[GiaTriThuocTinh] [nvarchar](255) NOT NULL,
	[SanPham_id] [bigint] NOT NULL,
	[ThuocTinh_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_taikhoan]    Script Date: 12/16/2025 11:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_taikhoan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](200) NOT NULL,
	[SDT] [nvarchar](20) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[HangThanhVien] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[auth_permission] ON 

INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (1, N'Can add log entry', 1, N'add_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (2, N'Can change log entry', 1, N'change_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (3, N'Can delete log entry', 1, N'delete_logentry')
SET IDENTITY_INSERT [dbo].[auth_permission] OFF
GO
SET IDENTITY_INSERT [dbo].[auth_user] ON 

INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined]) VALUES (1, N'pbkdf2_sha256$1000000$QSzVK8JsuvHvvyMDKHibH6$Q8EGlcdiqh1QJHb1if3geY+mBv0ua2m0cyU1V0kXHo8=', CAST(N'2025-12-12T08:48:00.1825830+00:00' AS DateTimeOffset), 1, N'hanh', N'', N'', N'hanhctn95@gmail.com', 1, 1, CAST(N'2025-11-29T09:58:41.3967100+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[auth_user] OFF
GO
SET IDENTITY_INSERT [dbo].[django_admin_log] ON 

INSERT [dbo].[django_admin_log] ([id], [action_time], [object_id], [object_repr], [action_flag], [change_message], [content_type_id], [user_id]) VALUES (1, CAST(N'2025-11-29T09:59:26.1289840+00:00' AS DateTimeOffset), N'1', N'ad', 1, N'[{"added": {}}]', 7, 1)
INSERT [dbo].[django_admin_log] ([id], [action_time], [object_id], [object_repr], [action_flag], [change_message], [content_type_id], [user_id]) VALUES (2, CAST(N'2025-11-29T09:59:57.2010140+00:00' AS DateTimeOffset), N'1', N'UUDAI10', 1, N'[{"added": {}}]', 9, 1)
INSERT [dbo].[django_admin_log] ([id], [action_time], [object_id], [object_repr], [action_flag], [change_message], [content_type_id], [user_id]) VALUES (3, CAST(N'2025-11-29T10:00:54.8175510+00:00' AS DateTimeOffset), N'1', N'Bút viết', 2, N'[{"changed": {"fields": ["T\u00ean Danh m\u1ee5c"]}}]', 7, 1)
GO
SET IDENTITY_INSERT [dbo].[django_admin_log] OFF
GO
SET IDENTITY_INSERT [dbo].[django_content_type] ON 

INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (1, N'admin', N'logentry')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (3, N'auth', N'group')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (2, N'auth', N'permission')
SET IDENTITY_INSERT [dbo].[django_content_type] OFF
GO
SET IDENTITY_INSERT [dbo].[django_migrations] ON 

INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (1, N'contenttypes', N'0001_initial', CAST(N'2025-11-29T09:56:40.8694320+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (2, N'auth', N'0001_initial', CAST(N'2025-11-29T09:56:40.9356210+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (3, N'admin', N'0001_initial', CAST(N'2025-11-29T09:56:40.9573560+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[django_migrations] OFF
GO
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'2b4q67iq60vxqjo7bqyefravhd08b2sq', N'.eJxVjjsPwiAUhf-KYTbkQqG0brrr6NpcLlBqDU36GIzxv0tNB7uex3fOmzW4zLFZJj82nWMnJtjxX7NIvU-r4R6Y2oHTkOaxs3yN8M2d-HVw_nnZsjtAxCnmNhkhnSiVKyqHRmskqayxCi0GCxQUupoIKzChBPAaqlBaAaLWEgqpIUP7iBQzL7W_p2KnzD7llVu7vHw63DEdzuzzBYxQSIs:1vQnmg:hH7tWNweWVE7CAd6czCNKNzSKImTeMWDNz-3GUpSf7k', CAST(N'2025-12-17T14:24:46.6049040+00:00' AS DateTimeOffset))
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'70eoolw7tbr3rhukyllgmk1si4vv9d42', N'.eJxVjjsPwiAUhf-KYTbkQqG0brrr6NpcLlBqDU36GIzxv0tNB7uex3fOmzW4zLFZJj82nWMnJtjxX7NIvU-r4R6Y2oHTkOaxs3yN8M2d-HVw_nnZsjtAxCnmNhkhnSiVKyqHRmskqayxCi0GCxQUupoIKzChBPAaqlBaAaLWEgqpIUP7iBQzL7W_p2KnzD7llVu7vHw63DEdzuzzBYxQSIs:1vVJgh:EmCTSmrpQOvc2QZprgY1-gesFK0rnobV3YoKUlIiuEM', CAST(N'2025-12-30T01:17:15.9113590+00:00' AS DateTimeOffset))
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'9151p33cyg44ex3hqve4fl2d9gb9wymr', N'.eJyrVsrOSEzOiM9IzEuPz0xRsjLUQRYpSc1TslLySy-tTM1TCEvMU3BUqgUA0aQRfA:1vTxOV:a26wMonraDK5CAqIr2Wgwx4Jyn8pYbEBj1CBEZcDJrI', CAST(N'2025-12-26T07:16:51.6121940+00:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[web_chitietdonhang] ON 

INSERT [dbo].[web_chitietdonhang] ([id], [SoLuong], [DonGiaTaiThoiDiemMua], [DonHang_id], [SanPham_id]) VALUES (42, 1, CAST(4000.00 AS Numeric(15, 2)), 32, 3)
INSERT [dbo].[web_chitietdonhang] ([id], [SoLuong], [DonGiaTaiThoiDiemMua], [DonHang_id], [SanPham_id]) VALUES (43, 4, CAST(22000.00 AS Numeric(15, 2)), 32, 6)
INSERT [dbo].[web_chitietdonhang] ([id], [SoLuong], [DonGiaTaiThoiDiemMua], [DonHang_id], [SanPham_id]) VALUES (44, 1, CAST(109350.00 AS Numeric(15, 2)), 33, 17)
SET IDENTITY_INSERT [dbo].[web_chitietdonhang] OFF
GO
SET IDENTITY_INSERT [dbo].[web_chitietgiohang] ON 

INSERT [dbo].[web_chitietgiohang] ([id], [SoLuong], [GioHang_id], [SanPham_id]) VALUES (79, 1, 1, 32)
SET IDENTITY_INSERT [dbo].[web_chitietgiohang] OFF
GO
SET IDENTITY_INSERT [dbo].[web_danhgia] ON 

INSERT [dbo].[web_danhgia] ([id], [NoiDung], [Diem], [SanPham_id], [TaiKhoan_id]) VALUES (1, N'hello
', 1, 6, 1)
INSERT [dbo].[web_danhgia] ([id], [NoiDung], [Diem], [SanPham_id], [TaiKhoan_id]) VALUES (2, N'abc
', 5, 6, 1)
INSERT [dbo].[web_danhgia] ([id], [NoiDung], [Diem], [SanPham_id], [TaiKhoan_id]) VALUES (3, N'hi
', 3, 6, 2)
SET IDENTITY_INSERT [dbo].[web_danhgia] OFF
GO
SET IDENTITY_INSERT [dbo].[web_danhmuc] ON 

INSERT [dbo].[web_danhmuc] ([id], [TenDanhMuc]) VALUES (12, N'Bút cao cấp')
INSERT [dbo].[web_danhmuc] ([id], [TenDanhMuc]) VALUES (7, N'Bút viết')
INSERT [dbo].[web_danhmuc] ([id], [TenDanhMuc]) VALUES (8, N'Dụng cụ học tập')
SET IDENTITY_INSERT [dbo].[web_danhmuc] OFF
GO
SET IDENTITY_INSERT [dbo].[web_diachi] ON 

INSERT [dbo].[web_diachi] ([id], [ChiTietDiaChi], [Phuong_Xa], [Tinh_Thanh_Pho], [SDTLienHe], [TaiKhoan_id], [MacDinh]) VALUES (4, N'10', N'Hồng Sơn', N'Đà nẵng', N'0123456789', 1, 1)
INSERT [dbo].[web_diachi] ([id], [ChiTietDiaChi], [Phuong_Xa], [Tinh_Thanh_Pho], [SDTLienHe], [TaiKhoan_id], [MacDinh]) VALUES (21, N'123', N'Minh Khai', N'Hà Nội', N'0123456789', 1, 0)
INSERT [dbo].[web_diachi] ([id], [ChiTietDiaChi], [Phuong_Xa], [Tinh_Thanh_Pho], [SDTLienHe], [TaiKhoan_id], [MacDinh]) VALUES (22, N'10', N'Hồng Sơn', N'Hồ Chí Minh', N'0123456789', 1, 0)
SET IDENTITY_INSERT [dbo].[web_diachi] OFF
GO
SET IDENTITY_INSERT [dbo].[web_donhang] ON 

INSERT [dbo].[web_donhang] ([id], [NgayDat], [TongTien], [DiaChi_id], [GiamGia_id], [ThanhToan_id], [TaiKhoan_id], [lyDoHuy], [trangThaiGH]) VALUES (32, CAST(N'2025-12-12T08:47:08.7388800+00:00' AS DateTimeOffset), CAST(92000.00 AS Numeric(15, 2)), 21, 2, 2, 1, N'', N'Đã hủy')
INSERT [dbo].[web_donhang] ([id], [NgayDat], [TongTien], [DiaChi_id], [GiamGia_id], [ThanhToan_id], [TaiKhoan_id], [lyDoHuy], [trangThaiGH]) VALUES (33, CAST(N'2025-12-12T12:29:01.6020240+00:00' AS DateTimeOffset), CAST(616350.00 AS Numeric(15, 2)), 22, NULL, 1, 1, NULL, N'Chờ xử lý')
INSERT [dbo].[web_donhang] ([id], [NgayDat], [TongTien], [DiaChi_id], [GiamGia_id], [ThanhToan_id], [TaiKhoan_id], [lyDoHuy], [trangThaiGH]) VALUES (34, CAST(N'2025-12-12T13:17:10.4598790+00:00' AS DateTimeOffset), CAST(1092950.00 AS Numeric(15, 2)), 22, 1, 3, 1, N'', N'Đã giao')
SET IDENTITY_INSERT [dbo].[web_donhang] OFF
GO
SET IDENTITY_INSERT [dbo].[web_giamgia] ON 

INSERT [dbo].[web_giamgia] ([id], [MaGiamGia], [TGbatDau], [TGKetThuc], [GiaTriGiam]) VALUES (1, N'UUDAI10', CAST(N'2025-11-29T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-12-31T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(10000.00 AS Numeric(15, 2)))
INSERT [dbo].[web_giamgia] ([id], [MaGiamGia], [TGbatDau], [TGKetThuc], [GiaTriGiam]) VALUES (2, N'FREESHIP', CAST(N'2025-12-01T20:35:13.0000000+00:00' AS DateTimeOffset), CAST(N'2025-12-31T20:35:30.0000000+00:00' AS DateTimeOffset), CAST(30000.00 AS Numeric(15, 2)))
SET IDENTITY_INSERT [dbo].[web_giamgia] OFF
GO
SET IDENTITY_INSERT [dbo].[web_giohang] ON 

INSERT [dbo].[web_giohang] ([id], [TaiKhoan_id]) VALUES (1, 1)
SET IDENTITY_INSERT [dbo].[web_giohang] OFF
GO
SET IDENTITY_INSERT [dbo].[web_hinhanh] ON 

INSERT [dbo].[web_hinhanh] ([id], [Anh], [SanPham_id]) VALUES (1, N'product_images/anh1_qppQAW3.png', 1)
INSERT [dbo].[web_hinhanh] ([id], [Anh], [SanPham_id]) VALUES (2, N'product_images/anh2_aYajAQf.png', 2)
INSERT [dbo].[web_hinhanh] ([id], [Anh], [SanPham_id]) VALUES (3, N'product_images/anh3_6F0bMLc.png', 3)
SET IDENTITY_INSERT [dbo].[web_hinhanh] OFF
GO
SET IDENTITY_INSERT [dbo].[web_khuyenmai] ON 

INSERT [dbo].[web_khuyenmai] ([id], [LoaiGiamGia], [GiaTri], [NgayBatDau], [NgayKetThuc]) VALUES (1, N'PERCENT', CAST(0.10 AS Numeric(15, 2)), CAST(N'2025-12-02T13:54:07.0000000+00:00' AS DateTimeOffset), CAST(N'2025-12-31T13:54:15.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[web_khuyenmai] ([id], [LoaiGiamGia], [GiaTri], [NgayBatDau], [NgayKetThuc]) VALUES (2, N'PERCENT', CAST(0.20 AS Numeric(15, 2)), CAST(N'2025-12-02T17:07:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-12-31T17:07:05.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[web_khuyenmai] ([id], [LoaiGiamGia], [GiaTri], [NgayBatDau], [NgayKetThuc]) VALUES (3, N'AMOUNT', CAST(10000.00 AS Numeric(15, 2)), CAST(N'2025-12-13T04:10:59.0000000+00:00' AS DateTimeOffset), CAST(N'2025-12-31T04:11:04.0000000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[web_khuyenmai] OFF
GO
SET IDENTITY_INSERT [dbo].[web_loaithuoctinh] ON 

INSERT [dbo].[web_loaithuoctinh] ([id], [TenThuocTinh], [DonViTinh]) VALUES (1, N'Màu sắc', NULL)
INSERT [dbo].[web_loaithuoctinh] ([id], [TenThuocTinh], [DonViTinh]) VALUES (2, N'Độ cứng ruột chì', NULL)
INSERT [dbo].[web_loaithuoctinh] ([id], [TenThuocTinh], [DonViTinh]) VALUES (3, N'Kích thước ruột', NULL)
SET IDENTITY_INSERT [dbo].[web_loaithuoctinh] OFF
GO
SET IDENTITY_INSERT [dbo].[web_phuongthucthanhtoan] ON 

INSERT [dbo].[web_phuongthucthanhtoan] ([id], [TenPTTT]) VALUES (2, N'Chuyển khoản ngân hàng')
INSERT [dbo].[web_phuongthucthanhtoan] ([id], [TenPTTT]) VALUES (1, N'Thanh toán khi nhận hàng (COD)')
INSERT [dbo].[web_phuongthucthanhtoan] ([id], [TenPTTT]) VALUES (3, N'Thẻ tín dụng')
SET IDENTITY_INSERT [dbo].[web_phuongthucthanhtoan] OFF
GO
SET IDENTITY_INSERT [dbo].[web_sanpham] ON 

INSERT [dbo].[web_sanpham] ([id], [TenSanPham], [Slug], [DonGia], [SoLuongTonKho], [MoTa], [ThuongHieu], [DanhMuc_id]) VALUES (1, N'Bút chì gỗ Flexoffice', N'but-chi-g-flexoffice', CAST(5000.00 AS Numeric(15, 2)), 193, N'Sổ bìa cứng, giấy 100gsm, 200 trang.', N'Flexoffice', 7)
INSERT [dbo].[web_sanpham] ([id], [TenSanPham], [Slug], [DonGia], [SoLuongTonKho], [MoTa], [ThuongHieu], [DanhMuc_id]) VALUES (2, N'Bút lông dầu Flexoffice', N'but-long-du-flexoffice', CAST(5500.00 AS Numeric(15, 2)), 200, N'Bút lông dầu Flexoffice Flex Marker FO-PM06/XK - Hàng xuất khẩu', N'Flexoffice', 7)
INSERT [dbo].[web_sanpham] ([id], [TenSanPham], [Slug], [DonGia], [SoLuongTonKho], [MoTa], [ThuongHieu], [DanhMuc_id]) VALUES (3, N'Bút gel Fasgel Thiên Long', N'but-gel-fasgel-thien-long', CAST(4000.00 AS Numeric(15, 2)), 198, N'Bút gel Fasgel Thiên Long GEL-068', N'Thiên Long', 7)
SET IDENTITY_INSERT [dbo].[web_sanpham] OFF
GO
SET IDENTITY_INSERT [dbo].[web_sanpham_khuyenmai] ON 

INSERT [dbo].[web_sanpham_khuyenmai] ([id], [KhuyenMai_id], [SanPham_id]) VALUES (3, 2, 13)
INSERT [dbo].[web_sanpham_khuyenmai] ([id], [KhuyenMai_id], [SanPham_id]) VALUES (2, 1, 14)
INSERT [dbo].[web_sanpham_khuyenmai] ([id], [KhuyenMai_id], [SanPham_id]) VALUES (1, 1, 17)
SET IDENTITY_INSERT [dbo].[web_sanpham_khuyenmai] OFF
GO
SET IDENTITY_INSERT [dbo].[web_sanpham_thuoctinh] ON 

INSERT [dbo].[web_sanpham_thuoctinh] ([id], [GiaTriThuocTinh], [SanPham_id], [ThuocTinh_id]) VALUES (1, N'2B', 1, 2)
INSERT [dbo].[web_sanpham_thuoctinh] ([id], [GiaTriThuocTinh], [SanPham_id], [ThuocTinh_id]) VALUES (2, N'2.8mm', 1, 3)
INSERT [dbo].[web_sanpham_thuoctinh] ([id], [GiaTriThuocTinh], [SanPham_id], [ThuocTinh_id]) VALUES (3, N'Việt Nam', 1, 4)
SET IDENTITY_INSERT [dbo].[web_sanpham_thuoctinh] OFF
GO
SET IDENTITY_INSERT [dbo].[web_taikhoan] ON 

INSERT [dbo].[web_taikhoan] ([id], [TenKhachHang], [SDT], [GioiTinh], [Email], [MatKhau], [HangThanhVien], [NgaySinh]) VALUES (1, N'Nguyen Van A', N'0123456789', N'Nam', N'hanhctn95@gmail.com', N'123456', N'Diamond', CAST(N'2004-05-09' AS Date))
INSERT [dbo].[web_taikhoan] ([id], [TenKhachHang], [SDT], [GioiTinh], [Email], [MatKhau], [HangThanhVien], [NgaySinh]) VALUES (2, N'Nguyen Van A', NULL, NULL, N'nguyenvana@gmail.com', N'123456', NULL, NULL)
SET IDENTITY_INSERT [dbo].[web_taikhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_group_name_a6ea08ec_uniq]    Script Date: 12/16/2025 11:45:31 PM ******/
ALTER TABLE [dbo].[auth_group] ADD  CONSTRAINT [auth_group_name_a6ea08ec_uniq] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_user_username_6821ab7c_uniq]    Script Date: 12/16/2025 11:45:31 PM ******/
ALTER TABLE [dbo].[auth_user] ADD  CONSTRAINT [auth_user_username_6821ab7c_uniq] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__web_danh__650CAE4EA266FE63]    Script Date: 12/16/2025 11:45:31 PM ******/
ALTER TABLE [dbo].[web_danhmuc] ADD UNIQUE NONCLUSTERED 
(
	[TenDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__web_giam__EF9458E5523FA7F3]    Script Date: 12/16/2025 11:45:31 PM ******/
ALTER TABLE [dbo].[web_giamgia] ADD UNIQUE NONCLUSTERED 
(
	[MaGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__web_loai__4E33B6625F917B91]    Script Date: 12/16/2025 11:45:31 PM ******/
ALTER TABLE [dbo].[web_loaithuoctinh] ADD UNIQUE NONCLUSTERED 
(
	[TenThuocTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__web_phuo__FD193B4F76B5648B]    Script Date: 12/16/2025 11:45:31 PM ******/
ALTER TABLE [dbo].[web_phuongthucthanhtoan] ADD UNIQUE NONCLUSTERED 
(
	[TenPTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__web_sanp__BC7B5FB6BF8F8030]    Script Date: 12/16/2025 11:45:31 PM ******/
ALTER TABLE [dbo].[web_sanpham] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__web_taik__A9D105346C1136DD]    Script Date: 12/16/2025 11:45:31 PM ******/
ALTER TABLE [dbo].[web_taikhoan] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_permission]  WITH CHECK ADD  CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[auth_permission] CHECK CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id]
GO
ALTER TABLE [dbo].[web_chitietdonhang]  WITH CHECK ADD  CONSTRAINT [web_chitietdonhang_DonHang_id_a1c11802_fk_web_donhang_id] FOREIGN KEY([DonHang_id])
REFERENCES [dbo].[web_donhang] ([id])
GO
ALTER TABLE [dbo].[web_chitietdonhang] CHECK CONSTRAINT [web_chitietdonhang_DonHang_id_a1c11802_fk_web_donhang_id]
GO
ALTER TABLE [dbo].[web_chitietdonhang]  WITH CHECK ADD  CONSTRAINT [web_chitietdonhang_SanPham_id_97ae19e8_fk_web_sanpham_id] FOREIGN KEY([SanPham_id])
REFERENCES [dbo].[web_sanpham] ([id])
GO
ALTER TABLE [dbo].[web_chitietdonhang] CHECK CONSTRAINT [web_chitietdonhang_SanPham_id_97ae19e8_fk_web_sanpham_id]
GO
ALTER TABLE [dbo].[web_chitietgiohang]  WITH CHECK ADD  CONSTRAINT [web_chitietgiohang_GioHang_id_26cb5e20_fk_web_giohang_id] FOREIGN KEY([GioHang_id])
REFERENCES [dbo].[web_giohang] ([id])
GO
ALTER TABLE [dbo].[web_chitietgiohang] CHECK CONSTRAINT [web_chitietgiohang_GioHang_id_26cb5e20_fk_web_giohang_id]
GO
ALTER TABLE [dbo].[web_chitietgiohang]  WITH CHECK ADD  CONSTRAINT [web_chitietgiohang_SanPham_id_74bb9c8a_fk_web_sanpham_id] FOREIGN KEY([SanPham_id])
REFERENCES [dbo].[web_sanpham] ([id])
GO
ALTER TABLE [dbo].[web_chitietgiohang] CHECK CONSTRAINT [web_chitietgiohang_SanPham_id_74bb9c8a_fk_web_sanpham_id]
GO
ALTER TABLE [dbo].[web_danhgia]  WITH CHECK ADD  CONSTRAINT [web_danhgia_SanPham_id_1f29c0bd_fk_web_sanpham_id] FOREIGN KEY([SanPham_id])
REFERENCES [dbo].[web_sanpham] ([id])
GO
ALTER TABLE [dbo].[web_danhgia] CHECK CONSTRAINT [web_danhgia_SanPham_id_1f29c0bd_fk_web_sanpham_id]
GO
ALTER TABLE [dbo].[web_danhgia]  WITH CHECK ADD  CONSTRAINT [web_danhgia_TaiKhoan_id_4fc6a45a_fk_web_taikhoan_id] FOREIGN KEY([TaiKhoan_id])
REFERENCES [dbo].[web_taikhoan] ([id])
GO
ALTER TABLE [dbo].[web_danhgia] CHECK CONSTRAINT [web_danhgia_TaiKhoan_id_4fc6a45a_fk_web_taikhoan_id]
GO
ALTER TABLE [dbo].[web_diachi]  WITH CHECK ADD  CONSTRAINT [web_diachi_TaiKhoan_id_5e8a78b3_fk_web_taikhoan_id] FOREIGN KEY([TaiKhoan_id])
REFERENCES [dbo].[web_taikhoan] ([id])
GO
ALTER TABLE [dbo].[web_diachi] CHECK CONSTRAINT [web_diachi_TaiKhoan_id_5e8a78b3_fk_web_taikhoan_id]
GO
ALTER TABLE [dbo].[web_donhang]  WITH CHECK ADD  CONSTRAINT [web_donhang_DiaChi_id_2d74a81d_fk_web_diachi_id] FOREIGN KEY([DiaChi_id])
REFERENCES [dbo].[web_diachi] ([id])
GO
ALTER TABLE [dbo].[web_donhang] CHECK CONSTRAINT [web_donhang_DiaChi_id_2d74a81d_fk_web_diachi_id]
GO
ALTER TABLE [dbo].[web_donhang]  WITH CHECK ADD  CONSTRAINT [web_donhang_GiamGia_id_02443cab_fk_web_giamgia_id] FOREIGN KEY([GiamGia_id])
REFERENCES [dbo].[web_giamgia] ([id])
GO
ALTER TABLE [dbo].[web_donhang] CHECK CONSTRAINT [web_donhang_GiamGia_id_02443cab_fk_web_giamgia_id]
GO
ALTER TABLE [dbo].[web_donhang]  WITH CHECK ADD  CONSTRAINT [web_donhang_TaiKhoan_id_d58f34ca_fk_web_taikhoan_id] FOREIGN KEY([TaiKhoan_id])
REFERENCES [dbo].[web_taikhoan] ([id])
GO
ALTER TABLE [dbo].[web_donhang] CHECK CONSTRAINT [web_donhang_TaiKhoan_id_d58f34ca_fk_web_taikhoan_id]
GO
ALTER TABLE [dbo].[web_donhang]  WITH CHECK ADD  CONSTRAINT [web_donhang_ThanhToan_id_aefe8a2e_fk_web_phuongthucthanhtoan_id] FOREIGN KEY([ThanhToan_id])
REFERENCES [dbo].[web_phuongthucthanhtoan] ([id])
GO
ALTER TABLE [dbo].[web_donhang] CHECK CONSTRAINT [web_donhang_ThanhToan_id_aefe8a2e_fk_web_phuongthucthanhtoan_id]
GO
ALTER TABLE [dbo].[web_giohang]  WITH CHECK ADD  CONSTRAINT [web_giohang_TaiKhoan_id_a1acba95_fk_web_taikhoan_id] FOREIGN KEY([TaiKhoan_id])
REFERENCES [dbo].[web_taikhoan] ([id])
GO
ALTER TABLE [dbo].[web_giohang] CHECK CONSTRAINT [web_giohang_TaiKhoan_id_a1acba95_fk_web_taikhoan_id]
GO
ALTER TABLE [dbo].[web_hinhanh]  WITH CHECK ADD  CONSTRAINT [web_hinhanh_SanPham_id_16898b1a_fk_web_sanpham_id] FOREIGN KEY([SanPham_id])
REFERENCES [dbo].[web_sanpham] ([id])
GO
ALTER TABLE [dbo].[web_hinhanh] CHECK CONSTRAINT [web_hinhanh_SanPham_id_16898b1a_fk_web_sanpham_id]
GO
ALTER TABLE [dbo].[web_sanpham]  WITH CHECK ADD  CONSTRAINT [web_sanpham_DanhMuc_id_bf04f713_fk_web_danhmuc_id] FOREIGN KEY([DanhMuc_id])
REFERENCES [dbo].[web_danhmuc] ([id])
GO
ALTER TABLE [dbo].[web_sanpham] CHECK CONSTRAINT [web_sanpham_DanhMuc_id_bf04f713_fk_web_danhmuc_id]
GO
ALTER TABLE [dbo].[web_sanpham_khuyenmai]  WITH CHECK ADD  CONSTRAINT [web_sanpham_khuyenmai_KhuyenMai_id_3bb615f1_fk_web_khuyenmai_id] FOREIGN KEY([KhuyenMai_id])
REFERENCES [dbo].[web_khuyenmai] ([id])
GO
ALTER TABLE [dbo].[web_sanpham_khuyenmai] CHECK CONSTRAINT [web_sanpham_khuyenmai_KhuyenMai_id_3bb615f1_fk_web_khuyenmai_id]
GO
ALTER TABLE [dbo].[web_sanpham_khuyenmai]  WITH CHECK ADD  CONSTRAINT [web_sanpham_khuyenmai_SanPham_id_78c9af59_fk_web_sanpham_id] FOREIGN KEY([SanPham_id])
REFERENCES [dbo].[web_sanpham] ([id])
GO
ALTER TABLE [dbo].[web_sanpham_khuyenmai] CHECK CONSTRAINT [web_sanpham_khuyenmai_SanPham_id_78c9af59_fk_web_sanpham_id]
GO
ALTER TABLE [dbo].[web_sanpham_thuoctinh]  WITH CHECK ADD  CONSTRAINT [web_sanpham_thuoctinh_SanPham_id_0f3f571f_fk_web_sanpham_id] FOREIGN KEY([SanPham_id])
REFERENCES [dbo].[web_sanpham] ([id])
GO
ALTER TABLE [dbo].[web_sanpham_thuoctinh] CHECK CONSTRAINT [web_sanpham_thuoctinh_SanPham_id_0f3f571f_fk_web_sanpham_id]
GO
ALTER TABLE [dbo].[web_sanpham_thuoctinh]  WITH CHECK ADD  CONSTRAINT [web_sanpham_thuoctinh_ThuocTinh_id_d3a98f8f_fk_web_loaithuoctinh_id] FOREIGN KEY([ThuocTinh_id])
REFERENCES [dbo].[web_loaithuoctinh] ([id])
GO
ALTER TABLE [dbo].[web_sanpham_thuoctinh] CHECK CONSTRAINT [web_sanpham_thuoctinh_ThuocTinh_id_d3a98f8f_fk_web_loaithuoctinh_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_action_flag_a8637d59_check] CHECK  (([action_flag]>=(0)))
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_action_flag_a8637d59_check]
GO
