{% if products.has_other_pages %}
{% load query_params %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% query_transform page=products.previous_page_number %}{{ scroll_to }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
            </li>
        {% endif %}

        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?{% query_transform page=i %}{{ scroll_to }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% query_transform page=products.next_page_number %}{{ scroll_to }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
